.nav-mobile {
    display: none;

    @media (max-width: 1340px) {
        display: flex;
    }
}

@media (max-width: 1340px) {
    .hamburger {
        display: block;
        position: sticky;
        top:55px;
        right:20px;
        z-index: 100000000;
    }
    
    .header {
        background-color: black;
        padding-top: 55px;
        position: sticky;
        top: 0;
        z-index: 10000;
    
        &__nav {
            display: flex;
            align-items: baseline;
                width: 65%;
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;
                background-color: black;
                align-items: baseline;
                z-index: 10000;
                padding: 75px;
                transform: translateX(100%);
                transition: 0.2s all linear;

                &.open {
                    transform: translateX(0%);
                    transition: 0.2s all linear;

                    @media (max-width: 1340px) {
                        width: 35%;
                    }

                    @media (max-width: 1000px) {
                        width: 45%;
                    }

                    @media (max-width: 700px) {
                        width: 65%;
                    }

                    @media (max-width: 550px) {
                        width: 75%;
                    }

                    @media (max-width: 470px) {
                        width: 100%;
                    }
                }
        }
    
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        
        &__list {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__item {
            margin-right: 55px;
    
            &:last-child {
                margin-right: 0;
            }
    
            @media (max-width: 1340px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 50px;
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    
        &__link {
            font-family: Roboto;
            font-style: normal;
            font-weight: 200;
            font-size: 22px;
            line-height: 50px;
            letter-spacing: 2px;
            color: #FFFFFF;
            cursor: pointer;
            text-decoration: none;
    
            &:hover {
                opacity: 0.75;
                color: gray;
            }
    
            @media (max-width: 1340px) {
                font-size: 45px;
                line-height: 50px;
            }
        }
    }
}