.form-buy-ticket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
}

.form-ticket__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}