.form-buy-ticket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
}

.form-ticket__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;

    &.left {
        margin-bottom: 50px;
    }

    &.right {
        margin-bottom: 10px;
    }
}

.form-amount__counter {
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 50px;
    }
}

.form-exhibition__button {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}