@import "../sass-variables.scss";

.explore-picture {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: #FFFFFF;
    }
}