@import "../sass-variables.scss";

.buy-tickets {
    padding-top: $padding-top;
    position: relative;
}

.buy-tickets__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buy-tickets__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1388px) {
        justify-content: center;
    }
}