@import "../sass-variables.scss";

.video-journey {
    padding-top: $padding-top;

    &__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 75px;
    }

    &__text {
        width: 720px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: #000000;
    }
}